<!DOCTYPE html>
<title>A Thing</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="manifest" href="<%= emitEjs('src/manifest.json.ejs') %>" />
<style>
  html,
  body {
    background: #ddd;
  }
  #jxl {
    image-rendering: pixelated;
  }
  #code {
    height: 20em;
  }
</style>
<main>
  <div>
    <pre id="log"></pre>
    <textarea id="code">
      if N > 0
        - Set 0
        - Set 255
    </textarea>
    <button id="go">Run</button>
  </div>
  <canvas id="jxl"></canvas>
</main>
<script src="<%= emitChunk('src/main.js') %>"></script>
