html,
body {
  background: #ddd;
  margin: 0;
  font-family: Arial, sans-serif;
}
#jxl {
  image-rendering: pixelated;
}
#code {
  height: 20em;
  flex-basis: 100%;
}
#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#controls > * {
  flex-grow: 1;
}
#log {
  margin: 0;
  flex-basis: 100%;
}
#log:not(:empty) {
  border: 1px solid red;
  margin: 1em 0;
  padding: 0.5em;
}
a {
  color: #007;
}
footer {
  text-align: center;
}

.button {
  border: 1px solid black;
  background: linear-gradient(to bottom, #eee, #ccc);
  border-radius: 2px;
  margin: 0.1em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1em;
}

body.text {
  padding: 1em;
  max-width: 76ch;
  margin: 0 auto;
}
